body {
    background-color: #EDEEF4;
    height: 100%;
}
@media  screen and (min-width : 1500px) {
    .container_all_employees {
        flex-direction: row;
        margin-left: 250px;
        margin-top: 15rem;
    }
}
@media  screen and (max-width : 1500px) {
    .container_all_employees {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left:70px;
        margin-top: 8rem;
    }
}

.container_all_employees {
    /* position: absolute; */

    display: flex;
 
    gap: 2rem;

    justify-content: center;
    align-content: center;
}