@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --navigation_bar_width : 250px
}


nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2B2E3B;
    width: var(--navigation_bar_width);
    height: 100vh;
    z-index: 2;
}

.container_title_nav {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 0.8rem;
}

.container_title_nav .dots {
    background-color: #E8912B;
    border-radius: 999px;
    width: 6px;
    height: 6px;
    margin: 0 8px;
}

.container_title_nav h1 {
    font-family: 'Raleway';
    font-size: 24px;
}

.container_title_nav .main_title {
    color: #2B2E3B;
    font-weight: 700;
}

.container_title_nav .subtitle {
    color: #626572;
    font-style: italic;
}

.container_categories {
    margin-top: calc(100vh - (100vh - 80px));
}

.background_nav_header {
    width: 290px;
    height: 120px;
    /* object-fit: contain; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 350px);
    justify-content: space-around;
}

.container_one_cat_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
}

.container_one_cat_nav:hover {
    background-color: #D3D4E0;
}

.container_one_cat_nav:hover a {
    color: #2B2E3B;
    font-weight: 700;
}

.container_one_cat_nav:hover span {
    background-color: #2B2E3B;
}


.container_one_cat_nav a {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 500;
}

.container_one_cat_nav span {
    border-radius: 999px;
    background-color: #D3D4E0;
    width: 30px;
    height: 30px;

}

.signIn_container {
    width: 100%;
    padding: 2rem 0rem;
    background-color: #353848;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--navigation_bar_width) ;
    gap: 1.5rem;
    align-items: center;
}

.btn_singIn_register {
    color: #2B2E3B;
    background-color: #D3D4E0;
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.btn_singIn_register:hover {
    background-color: #b8bbdfda;
    color: #E8912B;
}